/* Font Family Poppins Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;400;500&family=Poppins:wght@400;500;600;700&display=swap");

/* ===============COLOR FULL WEBSITE AND TYPOGRAPHY ================ */
:root {
  --primary-color: #e02c6d;
  --secondary-color: #0a0826;
  --primary-font-color: #3a3a3a;
  --secondary-font-color: #18191f;
  --price-font-color: rgba(0, 0, 0, 0.87);
  --card-description-font-color: #787885;
  --primary-font: "Poppins", sans-serif, system-ui;
  --secondary-font: "Inter", sans-serif, system-ui;
  --box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
}

/* ===============BASIC CUSTOMIZATION ================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-size: 62.5%;
  font-weight: 400;
  -webkit-font-smoothing: always;
  -moz-osx-font-smoothing: always;
  /* line-height: 1.3; */
}

body {
  scroll-behavior: smooth;
  /* overflow-y: auto; */
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* ===============REUSE STYLING START ================ */
.container {
  max-width: 114rem;
  margin: 0 auto;
}

.row {
  display: flex;
}

.gap-24 {
  gap: 2.4rem;
}

.gap-30 {
  gap: 4rem;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.column-2 {
  flex-basis: calc((100% - 40px) / 2);
  min-height: 5rem;
}

.border-red {
  border: 1px solid red;
}

.border-green {
  border: 1px solid green;
}

.btn-primary:link,
.btn-primary:visited,
.btn-primary {
  /* display: inline-block; */
  padding: 1.6rem 3rem;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  border-radius: 2rem;
  transition: all 0.3s ease;
  /* position: relative; */
}

.btn-primary:active {
  box-shadow: var(--box-shadow);
}

.btn-primary .btn-text,
.btn-primary .btn-icon {
  display: inline-block;
}

.btn-primary:hover .btn-icon {
  transform: translateX(1rem);
  position: relative;
}

.btn-primary .btn-icon {
  margin-top: 0.5rem;
  transition: margin-left 0.4s ease;
}

.btn-secondary span {
  display: block;
}

.btn-secondary .btn-icon {
  margin-left: 0.8rem;
}

.btn-secondary:link,
.btn-secondary:visited {
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
  transition: all 0.3s ease;
}
.btn-secondary:hover {
  color: var(--secondary-color);
}
.btn-secondary:hover .btn-icon {
  margin-left: 1rem;
}
section {
  margin-top: 8rem;
}

.section-center {
  text-align: center;
}

.section-title {
  font-size: 3rem;
  color: var(--secondary-font-color);
  font-weight: 600;
  text-align: center;
}

/* ===============REUSE STYLING END================ */

/* ===============NAVBAR STYLING START================ */
nav {
  padding: 0 1rem;
  min-height: 8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav .logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-font-color);
  position: relative;
  z-index: 20;
  text-transform: uppercase;
}

nav .logo::first-letter {
  font-size: 2.7rem;
  color: var(--primary-color);
}
.main-menu .main-menu-list ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 100;
}

nav .main-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-menu .main-menu-list ul li {
  font-size: 1.6rem;
  position: relative;
  z-index: 100;
  padding: 1rem 1rem;
  /* background-color: var(--secondary-color); */
  /* border: 2px solid red; */
  border: 1px solid transparent;
  border-radius: 5px;
  transition: animation 0.3s;
}

.main-menu .main-menu-list ul li:hover {
  animation: runingborder 2s ease infinite alternate;
  /* box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2); */
}

.main-menu .main-menu-list ul li a:link,
.main-menu .main-menu-list ul li a:visited {
  color: var(--primary-font-color);
  font-weight: 600;
  cursor: pointer;
}

nav .main-menu p {
  display: flex;
  /* align-items: center; */
  position: relative;
  z-index: 20;
}

nav .main-menu p span {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: absolute;
  right: -5px;
  top: 0;
}

nav .main-menu p a:link,
nav .main-menu p a:visited {
  font-size: 1.6rem;
  color: #000;
}

/* MOBILE NAVIGATION ICON STYLING */
nav .mobile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  position: relative;
  z-index: 20;
  display: none;
  cursor: pointer;
}

nav .mobile-btn .mobile-btn-icon {
  font-size: 3rem;
}

nav .mobile-btn .close {
  display: none;
}

/* ===============NAVBAR STYLING END================ */

/* ===============BANNER STYLING START================ */
.banner-section {
  margin-top: 8rem;
  height: 100%;
}

.banner-section-container {
  display: flex;
  align-items: center;
}

.banner-section-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--secondary-font-color);
  margin: 0 0 2rem 0;
}

.banner-section-text .banner-section-description {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--secondary-font-color);
  text-align: justify;
  width: 80%;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.banner-section-image {
  width: 100%;
  background-image: url("../images/Circle design.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.banner-section-image img {
  width: 85%;
  filter: brightness(70%) drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}
/* ===============BANNER STYLING END================ */

/* ===============CLIENT STYLING START================ */

.client-section-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  align-items: center;
  padding: 4rem 2rem;
  /* border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.client-section-item img {
  width: 70%;
}
/* ===============CLIENT STYLING END================ */

/* ===============CARD STYLING START================ */
.section-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}
.section-card-box {
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
  border: 1px solid transparent;
  transition: animation 0.3s ease;
}

.section-card-box img {
  width: 100%;
  transition: transform 0.3s ease;
}

.section-card-box:hover {
  animation: runingborder 2s ease infinite alternate;
}

.section-card-box:hover img {
  transform: scale(1.1);
}

.section-card-box .card-title {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--secondary-font-color);
  margin-top: 1.5rem;
}

.section-card-box .card-discription {
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--card-description-font-color);
  line-height: 2;
}

.section-card-box .card-price {
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--price-font-color);
}

.section-card-box .card-rating span {
  color: #5e6366;
  font-family: var(--secondary-font);
  font-weight: 400;
}
.section-card-box .card-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
}

.section-card-box .card-rating .card-rating-icon-box {
  display: flex;
  list-style: none;
  gap: 2px;
  margin-right: 1rem;
}

.section-card-box .card-rating .card-rating-icon-box li i {
  font-size: 1.2rem;
  color: gold;
}

.section-card .card-btn-box {
  margin-top: 3rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

/* ===============CARD STYLING END================ */

/* ===============ANIMATION STYLING END================ */
@keyframes runingborder {
  0% {
    border-top: 1px solid var(--secondary-color);
  }

  25% {
    border-right: 1px solid var(--secondary-color);
  }

  50% {
    border-bottom: 1px solid var(--secondary-color);
  }

  100% {
    border-left: 1px solid var(--secondary-color);
  }
}
/* ===============ANIMATION STYLING END================ */
